  #banner {
    height: 60px;
    background-color: white;
    border-bottom: 0.1px solid;
}

#banner img{
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#중간쪽{
    height: auto;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.중간쪽사진{
    display: flex;
    flex-wrap: wrap;
}

.중간쪽사진넣을곳 {
    width: 400px;
    height: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #F9D4E4;
    overflow: hidden;
    align-items: center;
}

.중간쪽사진넣을곳 > img{
    height: 100%;
    width: 100%;
}

